<div class="thumbnail">
    <% if @product.image %>
        <img src="<%= @product.image.url %>">
    <% end %>
    <div class="caption">
        <h3><%= @product.title %></h3>
        <strong><%= @product.description %></strong>
        <p><%= @product.cost.to_i %> руб.</p>
    </div>
</div>